cravat/webresult/test.html
.pydevproject
.project
.settings
.vscode/**
**.pyc
dist/**
**/__pycache__/**
**/cravat_test_*
*.swp
cravat/modules/**
.DS*
__dummy__*
cravat/jobs
*.egg-info
*/open_cravat.egg-info
tmp/*
makecravat.sh
