@font-face {
	font-family: 'roboto-medium';
    src: url('/result/fonts/roboto-medium-webfont.woff') format('woff'),
	url('/result/fonts/roboto-medium-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto-light';
    src: url('/result/fonts/roboto-light-webfont.woff') format('woff'),
         url('/result/fonts/roboto-light-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto-bold';
    src: url('/result/fonts/roboto-bold-webfont.woff') format('woff'),
         url('/result/fonts/roboto-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'sourcesanspro-bold';
    src: url('/result/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
	url('/result/fonts/sourcesanspro-bold-webfont.woff2') format('woff2');
}

.detaildiv {
	position: relative;
    display: none;
}

.detaildiv.resultviewer {
    width: 100%;
	height: 100%;
}

.detaildiv.on {
    display: block;
}

.detailcontainerdiv {
    width: 100%;
    height: 100%;
}

.detailcontainerwrapdiv {
    height: 100%;
    width: 100%;
}

.detailcontentdiv {
	overflow: auto;
	height: calc(100% - 40px);
	padding: 0px;
    padding-left: 7px;
    padding-right: 7px;
}

.detailcontentdiv * {
    font-size: 11px;
}

.detailwidget {
	font-size: 12px;
	border: 1px solid #d0d0d0;
    padding: 0px;
    border-radius: 6px;
}

.detailwidgetheader {
	display: flex;
	width: 100%;
    vertical-align: middle;
    border-radius: 6px 6px 0 0;
    background-color: #d9e7ee;
    justify-content: space-between;
    align-items: center;
}

.detailwidgettitle {
	font-size: 12px;
    height: 36px;
    padding: 6px;
    color: #373737;
}

.detailwidget-hr {
    margin-top: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.detailwidgeticondiv {
	display: flex;
    text-align: right;
    margin-right: 7px;
}

.detailwidget-closebutton {
	/*width: 16px;
	height: 16px;
    cursor: pointer;
    margin: 2px;
    padding: 2px;*/
}

.detailwidget-pinbutton {
	/*font-size: 12px;
	text-align: center;
	width: 14px;
	cursor: pointer;
    margin: 2px;
    padding: 2px;*/
    color: gray;
}

.detailwidget-pinbutton.pinned {
	color: #373737;
}

.detailwidget-downloadbutton {
    /*height: 16px;
    cursor: pointer;
    margin: 2px;
    padding: 2px;*/
}

.detailwidget-camerabutton {
    /*height: 16px;
    cursor: pointer;
    margin: 2px;
    padding: 2px;*/
}

.detailwidgetselect {
	font-family: roboto-light;
	font-size: 11px;
}

.detail-info-line-header {
    vertical-align: top;
    min-width: 60px;
    font-weight: bold;
}

.detail-info-line-content {
    vertical-align: top;
    min-width: 60px;
}

.nodata {
    color: #cccccc;
}

