site_name: OakVar
site_url: https://oakvar.com
nav:
  - Home: index.md
  - Install: 
    - System: install_system.md
    - Modules: install_modules.md
  - Overview: overview.md
  - Tutorial: tutorial.md
  - VCF2VCF: vcf2vcf.md
  - Command-line interface:
    - Overview: cli.md
    - Package file: package.md
  - Graphical user interface: gui.md
  - Integration with AI/ML: 
    - scikit-learn: scikit_learn.md
    - General: ai_ml.md
  - Developer guide: 
    - Modules: devguide_modules.md
    - Workflows: devguide_workflows.md
    - Debugging: devguide_debugging.md
    - Publishing your module: register.md
  - Python API:
    - api/main.md
    - oakvar.api: 
      - api/oakvar_api.md
      - config: api/config.md
      - module: api/module.md
      - new: api/new.md
      - store:
        - api/store.md
        - account: api/store_account.md
      - system: api/system.md
    - oakvar.lib.util.util: api/lib_util_util.md
  - Apache Spark: apache_spark.md
  - Release notes &#128279: "https://github.com/rkimoakbioinformatics/oakvar/releases"
  - Repository &#128279: "https://github.com/rkimoakbioinformatics/oakvar"
  - License &#128279: "https://github.com/rkimoakbioinformatics/oakvar/blob/master/LICENSE"
  - Sponsor &#128279: "https://github.com/sponsors/rkimoakbioinformatics"
  - Third party: third_party.md
theme: 
  name: material
  logo: images/logo.png
markdown_extensions:
  - attr_list
  - tables
plugins:
  - search
  - section-index
  - mkdocstrings:
      handlers:
        python:
          paths: [..]
          options:
            show_source: false
            heading_level: 2
            docstring_section_style: spacy
            separate_signature: true
watch:
  #- D:\git\oakvar\oakvar\api
  - /Users/rick/oxv/oakvar/oakvar/api
