site_name: OakVar
site_url: https://oakvar.com
nav:
  - Home: index.md
  - Install: install.md
  - Overview: overview.md
  - Tutorial: tutorial.md
  - Command-line interface: cli.md
  - Graphical user interface: gui.md
  - Publishing your module: register.md
  - VCF2VCF: vcf2vcf.md
  - Development: 
    - Modules: devguide_modules.md
    - Workflows: devguide_workflows.md
    - Debugging: devguide_debugging.md
  - Release notes: "https://github.com/rkimoakbioinformatics/oakvar/releases"
  - Repository: "https://github.com/rkimoakbioinformatics/oakvar"
  - License: license.md
theme: 
  name: material
  logo: images/logo.png
markdown_extensions:
  - attr_list
  - tables
